body {
  background-color: #11cc00;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
  color: #ffffff;
  font-size: 35px;
  text-shadow: 3.2px 3.2px #000000;
  text-align: center;
}

div.body {
  background-color: #ffffff;
  border: 0.8vw solid white;
  border-radius: 11px;
  -webkit-border-radius: 11px;
  -moz-border-radius: 11px;
  -ms-border-radius: 11px;
  -o-border-radius: 11px;
  max-width: 100%;
  box-shadow: 0.7vw 0.7vw rgb(0, 153, 255);
  margin: auto 8vw;
}
img {
  width:20%;
}